[submodule "themes/webpage"]
	path = themes/webpage
	url = https://github.com/claudiajkang/webpage
[submodule "themes/raditian-free-hugo-theme"]
	path = themes/raditian-free-hugo-theme
	url = https://github.com/chewing-git/raditian-free-hugo-theme
[submodule "public"]
	path = public
	url = https://github.com/SoyCokeCats/SoyCokeCats.github.io
